{% extends 'base.html' %}
{% load static %}
{% block win_title %} Classifica Concorrenti - Fanta PCDM {% endblock win_title %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'fanta_pcdm_site/css/leaderboard.css' %}"  media="screen,projection"/>
{% endblock %}

{% block page_head_title %} Classifica Concorrenti {% endblock page_head_title %}

{% block nav_buttons %}
    <li>
        <a id="reload-btn" class="waves-effect waves-light btn z-depth-0">
            <span class="hide-on-med-and-down">Ricalcola</span>
            <span class="countdown hide">(60)</span>
            <i class="material-icons left hide-on-med-and-down">refresh</i>
            <i class="material-icons show-on-medium-and-up">refresh</i>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div id="loading-screen" class="htmx-indicator">
        <div class="center-body">
            <div class="loader-circle-3"></div>
            <img class="loading-gif hide" src="{% static 'fanta_pcdm/images/loading_meme.gif' %}" alt="loading-meme">
            <h5 class="loader-text center-align">Calcolo in corso...</h5>
        </div>
    </div>

    <div hx-get="{% url 'fragment-leaderboard-concorrenti' %}"
         hx-trigger="load, click from:#reload-btn" hx-vals="js:{renew: event.type==='click'}"
         hx-indicator="#loading-screen">
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'fanta_pcdm_site/js/leaderboard.js' %}"></script>
    <script>
        M.AutoInit(document.body);
    </script>
{% endblock %}
