{% extends 'base.html' %}
{% load static %}
{% block win_title %} Fanta Prenditi Cura di Me {% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'fanta_pcdm_site/css/index.css' %}"  media="screen,projection"/>

{% endblock %}
{% block page_head_title %} Fanta PCDM {% endblock %}

{% block sidenav_logo %}
    <div></div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="center-body index">
            <img class="logo circle" src="{% static 'fanta_pcdm/images/logo.jpg' %}" alt="logo">
            <span>Benvenuto!</span>
            <span>Clicca sul menu laterale per visualizzare le classifiche</span>
        </div>
    </div>
{% endblock %}
